.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 50px;
}

.title a {
  color: #35e8c5;
  text-decoration: none;
}

.flex {
  display: flex;
}